html,
body {
  height: 100%;
  margin: 0;
}

/***/
/* $color1: rgba(22, 25, 37, 1);
$color2: rgba(35, 57, 91, 1);
$color3: rgba(64, 110, 142, 1);
$color4: rgba(148, 201, 169, 1);
$color5: rgba(203, 247, 237, 1); */
/***/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*********************/
/* START GRID SYSTEM */
/*********************/

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}
.row::after {
  clear: both;
}
.col-2point4,
.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
/* Mobile defaults */
.col-2point4,
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}
/* Non-mobile, grid */
@media only screen and (min-width: 800px) {
  /* 3 columns, 3/12 in % */
  .col-2point4 {
    width: 19%;
  }
  .col-3 {
    width: 25%;
  }
  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }
  /* 6 columns */
  .col-6 {
    width: 50%;
  }
  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}
/*******************/
/* END GRID SYSTEM */
/*******************/

.listing {
  background-color: rgba(22, 25, 37, 0.3);
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px rgba(64, 110, 142, 1);
}
.itemDescription {
  background-color: rgba(203, 247, 237, 1);
  font-size: 20px;
  min-height: 55px;
}
.dateExpires {
  background-color: rgba(203, 247, 237, 1);
  min-height: 55px;
}
.datePosted {
  background-color: rgba(203, 247, 237, 1);
  min-height: 55px;
}
.column-label {
  border-bottom: 1px solid black;
  color: white;
  font-size: 110%;
}
.food-available-date-input {
}
.food-expires-date-input {
}
.food-description-input {
  height: 200px;
  width: 100%;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.pickup-location-input {
  height: 200px;
  width: 100%;
  word-wrap: normal;
}
.lister-extra-notes-input {
  height: 200px;
  width: 100%;
  word-wrap: normal;
}
.welcome-component {
  background-color: white;
  background-blend-mode: lighten;
  margin-top: 50px;
}
.logo {
  background-image: url("logo_transparent.png");
  background-size: cover;
  height: 200px;
  width: 200px;
  float: right;
  margin-bottom: -90px;
  margin-top: -47px;
}
.search-refresh {
  margin-top: 40px;
  padding-bottom: 10px;
}

.toggle-button-container {
  margin-top: 10px;
}
.search-box {
  padding: 5px 10px;
  margin-right: 5px;
}
.extrafood-logo {
  background: url("./logo.png");
}
.user-photo {
  float: left;
}
