.user-photo > img {
  float: right;
  max-height: 100px;
  max-width: 100px;
}
.extrafood-logo {
  height: 100px;
  width: 100px;
  background: url("./logo_transparent.png");
  background-color: white;
  background-size: cover;
}
